.Applogo {
    width: 30px;
    height: 30px;
    color: red;
  }

.NavBar-custom, 
.footer-custom,
.custome {
  background: rgb(92,182,249);
  background: linear-gradient(90deg, rgba(92,182,249,1) 0%, rgba(59,112,252,1) 100%);
}


.icon-color {
  color: black;
}